/* Geist Font */
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

/* Geist Mono Font */
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

/* Oswald Font */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

:root {
  --font-geist-sans: "Geist", ui-sans-serif, system-ui, sans-serif;
  --font-geist-mono: "Geist Mono", ui-monospace, monospace;
  --font-oswald: "Oswald", ui-sans-serif, system-ui, sans-serif;
}
